.header,
.header li {
	display: flex;
	align-items: center;
}
.header {
	position: fixed;
	right: 30px;
	top: 50%;
	opacity: 1;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	transform: translateY(-50%);
	z-index: 2;
}
a.active {
	background: #ffb400 !important;
}
.header li {
	width: 50px;
	height: 50px;
	list-style: none;
	position: relative;
	transition: 0.3s;
	margin: 20px 0;
	background: #2b2a2a;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.header li:hover {
	background-color: #ffb400;
}
.header a {
	border: none;
	background: transparent;
	outline: none;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	transition: 0.3s;
	color: wheat;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header a:hover {
	background-color: #ffb400;
	text-decoration:none;
}
.header a h2 {
	background: #ffb400;
	color: #fff;
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	line-height: 50px;
	font-weight: 500;
	transition: all 0.3s;
	border-radius: 30px;
	text-transform: uppercase;
	padding: 0 25px 0 30px;
	height: 50px;
	margin: 0;
	font-size: 15px;
}
.header li:hover h2 {
	opacity: 1;
	right: 27px;
	margin: 0;
	text-align: center;
	border-radius: 30px 0 0 30px;
}
li a i {
	font-size: 20px;
}

/* MEDIA QUERIES  */
@media only screen and (max-width: 992px) {
	.header {
		left: 0;
		right: auto;
		bottom: 0;
		top: auto;
		transform: none;
		width: 100%;
		display: block;
		background: #2b2a2a;
		padding: 8px;
		z-index: 10;
	}

	.header ul {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 0;
		margin: 0;
	}
	.header ul li {
		margin: 0 !important;
		width: 45px !important;
		height: 45px !important;
		background: #444 !important;
	}
	.header li:hover h2 {
		opacity: 0;
	}
}
